.Dictionary {
  display: block;
  margin: 0 auto;
  max-width: 960px;
}
.Dictionary section {
  background: #fcffc1;
  padding: 30px;
  border-radius: 16px;
  margin: 20px 0;
  box-shadow: 0 10px 10px rgb(0 0 0/ 10%);
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 22px;
  border: 1px solid #346357;
  height: 50px;
  color: #333;
  display: block;
  font-size: 18px;
}
.top {
  font-size: 26px;
  margin-bottom: 10px;
}
section .example {
  color: #346357;
  display: block;
  margin-top: 15px;
}
