.Phonetics {
  height: 40px;
  margin-top: 10px;
  padding: 26px 0;
}

.Phonetics a {
  padding: 8px 18px;
  text-decoration: none;
  border: 1px solid #f16821;
  background: #f3a333;
  color: #f16821;
  opacity: 0.7;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  margin-right: 15px;
  margin-left: 0;
}

.Phonetics a:hover {
  background: #f8c886;
  color: #f16821;
}
.transcript {
  opacity: 0.8;
  font-weight: bold;
}
