.Synonyms li {
  display: inline-block;
  padding-right: 20px;
  font-size: 14px;
}

.Sunonyms {
  margin: 15px 0 0;
  padding: 0;
}
.Synonyms span {
  color: #f16821;
  margin: 15px 8px 15px -30px;
}
